# General
ACKSTREAM_ENV=
ACKSTREAM_VERSION=v22.2.22

# Stream
ACKSTREAM_XSTREAM_URI=nats://127.0.0.1:4222
ACKSTREAM_XSTREAM_REGION=local
ACKSTREAM_XSTREAM_NAME=ackstream
ACKSTREAM_XSTREAM_TOPIC=events

# Storage
ACKSTREAM_XSTORAGE_HOSTS=127.0.0.1
ACKSTREAM_XSTORAGE_KEYSPACE=ackstream
ACKSTREAM_XSTORAGE_TABLE=events
ACKSTREAM_XSTORAGE_BUCKET_TEMPLATE=20060102