# General
ACKSTREAM_REGION=localdatacenter
ACKSTREAM_VERSION=v22.2.22

# PubSub
ACKSTREAM_PUBSUB_URI=nats://127.0.0.1:4222
ACKSTREAM_PUBSUB_STREAM_NAME=ackstream

# Storage
ACKSTREAM_STORAGE_HOSTS=127.0.0.1
ACKSTREAM_STORAGE_KEYSPACE=ackstream
ACKSTREAM_STORAGE_TABLE=events